<!doctype html>
<html ⚡="" lang="en" prefix="og: https://ogp.me/ns#">
    <head>
    {% block header %}{% endblock %}
    </head>
    <body class="font-sans">
        {% block analytics %}{% endblock %}
        <amp-state id="product"></amp-state>
        {% block body %}{% endblock %}
    </body>
</html>